doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', type='image/png', sizes='48x48', href='/favicon48.png')
  link(rel='stylesheet', href='/css/main.css')
  title Contact Me -- Ilhambara
.slide.active
  .card
    #img01.card__img
    .card__content
      p.card__content-theme Twitter
      h2.card__content-header @zgve679jdv
      p.card__content-paragraph
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro,
        | tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id
        | consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a(href='https://twitter.com/zgve679jdv').card__content-link Visit 
.slide
  .card
    #img02.card__img
    .card__content
      p.card__content-theme GitHub
      h2.card__content-header ilhambara
      p.card__content-paragraph
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro,
        | tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id
        | consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a(href='https://github.com/ilhambara').card__content-link Visit 
.slide
  .card
    #img03.card__img
    .card__content
      p.card__content-theme Discord
      h2.card__content-header Ilhambara#9556
      p.card__content-paragraph
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro,
        | tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id
        | consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a(href='https://discord.com/users/599008087701192734').card__content-link Visit 
.slide
  .card
    #img04.card__img
    .card__content
      p.card__content-theme Instagram
      h2.card__content-header @ilham.bara
      p.card__content-paragraph
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro,
        | tempora consequuntur vel dolore assumenda aspernatur cum dignissimos unde reprehenderit sint? Neque, id
        | consequuntur. Quibusdam sit officiis debitis corrupti. Quasi.
      a(href='https://instagram.com/ilham.bara').card__content-link Visit 
.prevnext
  button#prev.prevnext-button
  button#next.prevnext-button  
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js')
script(src='/js/animate-slider.js')
